body {
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#top {
  margin: 0%;
  background-color: rgb(232, 247, 232);
}
#firstHeading {
  color: green;

  font-size: 300%;
  background-color: rgb(196, 240, 196);
}
#secondHeading {
  font-size: 230%;
  color: rgb(18, 117, 18);
}
.thirdHeading {
  color: rgb(33, 121, 33);
  font-size: 330%;
}
p {
  margin: 2% 20% 2% 20%;
  font-size: 120%;
  color: rgb(12, 122, 12);
}
ol li {
  text-align: left;
  margin: 0.5% 20% 0.5% 30%;
  color: green;
}
